bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools 
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
/.metadata/


# from antlr4ide
*.class

# Package Files #
*.war
*.ear

target
bin
dependency-reduced-pom.xml

# OSX
*.DS_Store

# IntelliJ IDE Project Files #
*.iml
*.idea

lib
.antlr-generator-3.2.0-patch.jar
generated
src-gen
xtend-gen
plugin.xml_gen
model

site/features
site/plugins
site/artifacts.jar
site/content.jar
/.settings/


# Added by users
net.unicoen/UniMapperGenerator/src-gen/
net.unicoen/node_modules/
net.unicoen/package-lock.json
