/.ANTLRGrammarGenerator.java._trace
/.UniMapperGeneratorGenerator.java._trace
/.UniMapperGeneratorGeneratorTS.java._trace
/.UniMapperGeneratorGeneratorXtend.java._trace
/.UniMapperGeneratorGeneratorXtend.xtendbin
/UniMapperGeneratorGeneratorXtend.java
